In [24]:
import pandas as pd
import numpy as np
import json
import requests
from sqlalchemy import create_engine
import psycopg2

### Extract CSVs into DataFrames

Incident & Shootings & Holidays -----------------------------------------------------------------------------------------------------------------------------------------

In [25]:
#Table of Incidents of gun violence in the USA
Incident = "all_incidents.csv"
Incident_df = pd.read_csv(Incident)
Incident2_df = Incident_df.rename(columns={"incident_id":"Incident_ID",	"date":"Incident_Date",	"state":"State","city":"City_County","address":"Address","n_killed":"Killed","n_injured":"Injured"})
Incident2_df['Incident_Date'] = pd.to_datetime(Incident2_df['Incident_Date'])
Incident2_df.head()

,Incident_ID,Incident_Date,State,City_County,Address,Killed,Injured
0,2314858,2022-05-28,Arkansas,Little Rock,W 9th St and Broadway St,0,1
1,2314409,2022-05-28,Colorado,Denver,3300 block of Clay St,0,1
2,2314498,2022-05-28,Missouri,Saint Louis,Page Blvd and Vandeventer Ave,0,1
3,2314485,2022-05-28,South Carolina,Florence,Old River Rd,0,2
4,2314483,2022-05-28,California,Carmichael,4400 block of Manzanita Ave,1,0

In [26]:
#Incidents of mass shootings in the USA
Mass_shooting = "mass_shootings.csv"
Massshooting_df = pd.read_csv(Mass_shooting)
Massshooting_df['Incident Date'] = pd.to_datetime(Massshooting_df['Incident Date'])
Mass_df = Massshooting_df.rename(columns={"Incident ID":"","# Killed":"Killed", "# Injured" : "Injured","Incident Date":"Incident_Date","City Or County":"City_County"})
Mass_df.drop

Mass_df.head()

,Incident ID,Incident_Date,State,City_County,Address,Killed,Injured
0,271363,2014-12-29,Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,2014-12-27,California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,2014-12-27,California,Sacramento,4000 block of May Street,0,4
3,269167,2014-12-26,Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,2014-12-24,Missouri,Saint Louis,18th and Pine,1,3

In [27]:
US_Holiday_Dates = "US Holiday Dates (2004-2021).csv"
Holiday_df = pd.read_csv(US_Holiday_Dates)
Holiday_df['Date'] = pd.to_datetime(Holiday_df['Date'])
Holiday_df = Holiday_df.drop(columns=['Month','Day','Year'])
Holiday_df.head()

        Date      Holiday    WeekDay
0 2004-07-04  4th of July     Sunday
1 2005-07-04  4th of July     Monday
2 2006-07-04  4th of July    Tuesday
3 2007-07-04  4th of July  Wednesday
4 2008-07-04  4th of July     Friday

Population 2019, 2020, 2021 -----------------------------------------------------------------------------------------------------------------------------------------------------

In [28]:
Population_2019 = "2019_census_population.csv"
Pop2019_df = pd.read_csv(Population_2019)
Pop2019_df.head()

        STATE  POPESTIMATE2019        lat        long
0     Alabama          4903185  32.377716  -86.300568
1      Alaska           731545  58.301598 -134.420212
2     Arizona          7278717  33.448143 -112.096962
3    Arkansas          3017804  34.746613  -92.288986
4  California         39512223  38.576668 -121.493629

In [29]:
Population_2020 = "2020_census_population.csv"
Pop2020_df = pd.read_csv(Population_2020)
Pop2020_df2 = Pop2020_df.rename(columns={'Population':'2020Population'})

Pop2020_df2.head()

,City,State,Type,Counties,2020Population,Latitude,Longitude
0,New York,NY,City,Bronx;Richmond;New York;Kings;Queens,8804190,40.714,-74.007
1,Los Angeles,CA,City,Los Angeles,3898747,34.052,-118.243
2,Chicago,IL,City,Cook;DuPage,2746388,41.882,-87.628
3,Houston,TX,City,Harris;Fort Bend;Montgomery,2304580,29.760,-95.363
4,Phoenix,AZ,City,Maricopa,1608139,33.448,-112.074

In [30]:
Population_2021 = "2021_estimate_population.csv"
Pop2021_df = pd.read_csv(Population_2021, sep=',', encoding='latin-1')
Pop2021_df.head()

              NAME   STNAME  POPESTIMATE2021
0          Alabama  Alabama          5039877
1   Abbeville city  Alabama             2379
2  Adamsville city  Alabama             4294
3     Addison town  Alabama              668
4       Akron town  Alabama              226

### Engine

In [33]:
#Creating engine & connection to SQL database
engine = create_engine('postgres://postgres:Admin@localhost:5432/Gun_incident_DB')
conn = engine.connect()

engine.table_names()

['Gun_Violence', 'Mass_shootings']

In [37]:
Incident2_df.to_sql(name='Gun_Violence', con=engine, if_exists='append', index= False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "Address" of relation "Gun_Violence" violates not-null constraint
DETAIL:  Failing row contains (2314059, 2022-05-27 00:00:00, Minnesota, Minneapolis, null, 0, 1).

[SQL: INSERT INTO "Gun_Violence" ("Incident_ID", "Incident_Date", "State", "City_County", "Address", "Killed", "Injured") VALUES (%(Incident_ID)s, %(Incident_Date)s, %(State)s, %(City_County)s, %(Address)s, %(Killed)s, %(Injured)s)]
[parameters: ({'Incident_ID': 2314858, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'Arkansas', 'City_County': 'Little Rock', 'Address': 'W 9th St and Broadway St', 'Killed': 0, 'Injured': 1}, {'Incident_ID': 2314409, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'Colorado', 'City_County': 'Denver', 'Address': '3300 block of Clay St', 'Killed': 0, 'Injured': 1}, {'Incident_ID': 2314498, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'Missouri', 'City_County': 'Saint Louis', 'Address': 'Page Blvd and Vandeventer Ave', 'Killed': 0, 'Injured': 1}, {'Incident_ID': 2314485, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'South Carolina', 'City_County': 'Florence', 'Address': 'Old River Rd', 'Killed': 0, 'Injured': 2}, {'Incident_ID': 2314483, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'California', 'City_County': 'Carmichael', 'Address': '4400 block of Manzanita Ave', 'Killed': 1, 'Injured': 0}, {'Incident_ID': 2314481, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'Kentucky', 'City_County': 'Louisville', 'Address': '400 block of M St', 'Killed': 0, 'Injured': 1}, {'Incident_ID': 2314479, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'Kentucky', 'City_County': 'Louisville', 'Address': '2100 block of Hale Ave', 'Killed': 0, 'Injured': 1}, {'Incident_ID': 2314476, 'Incident_Date': datetime.datetime(2022, 5, 28, 0, 0), 'State': 'Louisiana', 'City_County': 'Baton Rouge', 'Address': 'Coursey Blvd and Stumberg Ln', 'Killed': 0, 'Injured': 2}  ... displaying 10 of 472820 total bound parameter sets ...  {'Incident_ID': 460726, 'Incident_Date': datetime.datetime(2013, 1, 1, 0, 0), 'State': 'California', 'City_County': 'Hawthorne', 'Address': '13500 block of Cerise Avenue', 'Killed': 1, 'Injured': 3}, {'Incident_ID': 461105, 'Incident_Date': datetime.datetime(2013, 1, 1, 0, 0), 'State': 'Pennsylvania', 'City_County': 'Mckeesport', 'Address': '1506 Versailles Avenue and Coursin Street', 'Killed': 0, 'Injured': 4})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)