In [91]:
import pandas as pd
import numpy as np
import json
import requests
from sqlalchemy import create_engine
import psycopg2

### Extract CSVs into DataFrames

Incident & Shootings & Holidays -----------------------------------------------------------------------------------------------------------------------------------------

In [92]:
Incident = "all_incidents.csv"
Incident_df = pd.read_csv(Incident)
Incident_df. drop('address', axis=1, inplace=True)
Incident2_df = Incident_df.rename(columns={"incident_id":"Incident_ID",	"date":"Incident_Date",	"state":"State","city":"City_County","n_killed":"Killed","n_injured":"Injured"})
Incident2_df['Incident_Date'] = pd.to_datetime(Incident2_df['Incident_Date'])
Incident2_df.head()

   Incident_ID Incident_Date           State  City_County  Killed  Injured
0      2314858    2022-05-28        Arkansas  Little Rock       0        1
1      2314409    2022-05-28        Colorado       Denver       0        1
2      2314498    2022-05-28        Missouri  Saint Louis       0        1
3      2314485    2022-05-28  South Carolina     Florence       0        2
4      2314483    2022-05-28      California   Carmichael       1        0

In [93]:
#Incidents of mass shootings in the USA
Mass_shooting = "mass_shootings.csv"
Massshooting_df = pd.read_csv(Mass_shooting)
Massshooting_df['Incident Date'] = pd.to_datetime(Massshooting_df['Incident Date'])
Massshooting_df.drop('Address', axis=1, inplace=True)
MassShooting_df2 = Massshooting_df.rename(columns={"Incident ID":"Incident_ID","# Killed":"Killed", "# Injured" : "Injured","Incident Date":"Incident_Date","City Or County":"City_County"})
MassShooting_df2.head()

   Incident_ID Incident_Date       State     City_County  Killed  Injured
0       271363    2014-12-29   Louisiana     New Orleans       0        4
1       269679    2014-12-27  California     Los Angeles       1        3
2       270036    2014-12-27  California      Sacramento       0        4
3       269167    2014-12-26    Illinois  East St. Louis       1        3
4       268598    2014-12-24    Missouri     Saint Louis       1        3

In [94]:
US_Holiday_Dates = "US Holiday Dates (2004-2021).csv"
Holiday_df = pd.read_csv(US_Holiday_Dates)
Holiday_df['Date'] = pd.to_datetime(Holiday_df['Date'])
Holiday_df = Holiday_df.drop(columns=['Month','Day','Year'])
Holiday_df.head()

        Date      Holiday    WeekDay
0 2004-07-04  4th of July     Sunday
1 2005-07-04  4th of July     Monday
2 2006-07-04  4th of July    Tuesday
3 2007-07-04  4th of July  Wednesday
4 2008-07-04  4th of July     Friday

Population 2019, 2020, 2021 -----------------------------------------------------------------------------------------------------------------------------------------------------

In [95]:
Population_2019 = "2019_census_population.csv"
Pop2019_df = pd.read_csv(Population_2019)
Pop2019_df.head()

        STATE  POPESTIMATE2019        lat        long
0     Alabama          4903185  32.377716  -86.300568
1      Alaska           731545  58.301598 -134.420212
2     Arizona          7278717  33.448143 -112.096962
3    Arkansas          3017804  34.746613  -92.288986
4  California         39512223  38.576668 -121.493629

In [96]:
Population_2020 = "2020_census_population.csv"
Pop2020_df = pd.read_csv(Population_2020)
Pop2020_df2 = Pop2020_df.rename(columns={'Population':'2020Population'})

Pop2020_df2.head()

,City,State,Type,Counties,2020Population,Latitude,Longitude
0,New York,NY,City,Bronx;Richmond;New York;Kings;Queens,8804190,40.714,-74.007
1,Los Angeles,CA,City,Los Angeles,3898747,34.052,-118.243
2,Chicago,IL,City,Cook;DuPage,2746388,41.882,-87.628
3,Houston,TX,City,Harris;Fort Bend;Montgomery,2304580,29.760,-95.363
4,Phoenix,AZ,City,Maricopa,1608139,33.448,-112.074

In [97]:
Population_2021 = "2021_estimate_population.csv"
Pop2021_df = pd.read_csv(Population_2021, sep=',', encoding='latin-1')
Pop2021_df.head()

              NAME   STNAME  POPESTIMATE2021
0          Alabama  Alabama          5039877
1   Abbeville city  Alabama             2379
2  Adamsville city  Alabama             4294
3     Addison town  Alabama              668
4       Akron town  Alabama              226

### Engine

In [98]:
#Creating engine & connection to SQL database
engine = create_engine('postgres://postgres:Admin@localhost:5432/Gun_incident_DB')
conn = engine.connect()

engine.table_names()

['Mass_shootings', 'Gun_Violence']

In [99]:
Incident2_df.to_sql(name='Gun_Violence', con=engine, if_exists='append', index= False)

In [101]:
MassShooting_df2.to_sql(name='Mass_shootings', con=engine, if_exists='append', index= False)