In [4]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [6]:
Population_2019 = "2019_census_population.csv"
Pop2019_df = pd.read_csv(Population_2019)
Pop2019_df.head()

        STATE  POPESTIMATE2019        lat        long
0     Alabama          4903185  32.377716  -86.300568
1      Alaska           731545  58.301598 -134.420212
2     Arizona          7278717  33.448143 -112.096962
3    Arkansas          3017804  34.746613  -92.288986
4  California         39512223  38.576668 -121.493629

# Incident & Shootings

In [8]:
Incident = "all_incidents.csv"
Incident_df = pd.read_csv(Incident)
Incident_df.head()

,incident_id,date,state,city,address,n_killed,n_injured
0,2314858,2022-05-28,Arkansas,Little Rock,W 9th St and Broadway St,0,1
1,2314409,2022-05-28,Colorado,Denver,3300 block of Clay St,0,1
2,2314498,2022-05-28,Missouri,Saint Louis,Page Blvd and Vandeventer Ave,0,1
3,2314485,2022-05-28,South Carolina,Florence,Old River Rd,0,2
4,2314483,2022-05-28,California,Carmichael,4400 block of Manzanita Ave,1,0

In [9]:
Mass_shooting = "mass_shootings.csv"
Massshooting_df = pd.read_csv(Mass_shooting)
Massshooting_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3